<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Testing route with AJAX</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
<!-- set up buttons to trigger different HTTP requests-->
<div class="container">
	<div class="jumbotron">
		<div class = "center btns-section">
			<p>Click buttons to send request to route <a href="/megaHelloWorld">/megaHelloWorld</a></p>
			<div class="btns">
				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<button class= "btn btn-primary" id="get-btn">Submit GET Request</button>
					</div>
					<div class="col-md-3  col-sm-6 col-xs-12">
						<button class= "btn btn-success" id="post-btn">Submit POST Request</button>
					</div>
					<div class="col-md-3  col-sm-6 col-xs-12">
						<button class= "btn btn-info" id="put-btn">Submit PUT Request</button>
					</div>
					<div class="col-md-3  col-sm-6 col-xs-12">
						<button class= "btn btn-danger" id="delete-btn">Submit DELETE Request</button>
					</div>	
				</div>
			</div>
		</div>
		<!-- the received response from the sent request is shown below-->
		<div class = "center response">
			<p class="requestReply"></p>
		</div>
		<hr>
		<div>
			<!-- Obtain user inputted queries -->
			<p>If you want to submit GET request with queries to <a href="/megaHelloWorld">/megaHelloWorld</a>, please write queries in the following box, and click "Submit GET Request" button.<br><span class="explain">If you have more than one query, please use "&amp;" to chain them without space.</span></p>
			<div class="center">
				    <label for="queryText">Request to: /megaHelloWorld?</label>
				    <input type="text" id="queryText" placeholder="city=halifax&company=TMF">
		    </div>
		</div>


	</div>
</div>


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<!-- set up events of buttons to send request to /megaHelloWorld-->
<script src="/main.js"></script>
</body>
</html>